{% extends "layout.html" %}
{% from 'bootstrap/utils.html' import render_icon %}

{% block title %}Bet-O-Mator Dashboard{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Bets</h1>
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for b in bets %}
                            <tr>
                                <td>
                                    <a href="{{ url_for("bets.bet", bet_id=b.bet_id) }}">{{ b.title }}</a>
                                </td>
                                <td>
                                    {% for o in b.outcomes %}
                                        <span class="mr-4 badge badge-light" style="font-size: 1rem">
                                        <span class="text-muted">
                                            {{ o.title }}:
                                        </span>
                                            <span class="">
                                                {{ render_icon("check", color="success") }}
                                                {% if o in no_prices %}
                                                {{ 100 - no_prices[o] }}
                                                {% else %}
                                                    NA
                                                {% endif %}
                                            </span>
                                            <span class="ml-1">
                                                {{ render_icon("x", color="danger") }}
                                                {% if o in yes_prices %}
                                                    {{ 100 - yes_prices[o] }}
                                                {% else %}
                                                    NA
                                                {% endif %}
                                            </span>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if my_bets %}
                        <h1>Your Bets</h1>
                        <table class="table">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for b in my_bets %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for("bets.bet", bet_id=b.bet_id) }}">{{ b.title }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
